{% extends 'auctions/layout.html' %}

{% load l10n %}

{% block body %}
  <h2>Listing: {{ auction.title }}</h2>
  <div>
    {% if user.is_authenticated %}
      {% if user == auction.winner %}
        <div class="alert alert-info" role="alert">You won the auction!</div>
      {% endif %}
      <form action="{% url 'toggle_watchlist' auction.id %}" method="POST">
        {% csrf_token %}
        <button class="btn {{ btn_class }} mb-3 btn-sm">{{ watchlist_label }}</button>
      </form>
    {% endif %}
  </div>
  <img src="{{ auction.url }}" class="mt-3 w-auto h-25" />
  <p class="mt-3">{{ auction.description }}</p>
  <h3>R$ {{ auction.bids.last.value|localize }}</h3>
  {% if bid_count > 0 and is_auction_active %}
    <p>
      Bid count: {{ bid_count }}.{% if is_bidder_user %}Your bid is the current bid.{% endif %}
    </p>
  {% endif %}
  {% if user.is_authenticated %}
    {% if is_owner %}
      {% include 'auctions/partials/auction_controls.html' %}
    {% elif is_auction_active %}
      {% include 'auctions/partials/bid_section.html' %}
    {% elif not is_auction_active %}
      <p class="text-muted">This auction is {{ auction.get_status_display }}. No more bids allowed.</p>
    {% endif %}
  {% endif %}
  <h3 class="mt-4">Details</h3>
  <ul>
    <li>Category: {{ auction.category }}</li>
    <li>Created by: {{ auction.created_by }}</li>
    <li>Created: {{ auction.created_at|date:'d/m/Y H:i' }}</li>
  </ul>
  {% include 'auctions/partials/comments_section.html' %}
{% endblock %}
